* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-square: rgb(181, 135, 99);
  --white-square: rgb(240, 218, 181);
  --white-capture-or-available: rgb(129, 151, 105);
  --black-capture-or-available: rgb(101, 110, 65);
  --white-moved-square: rgb(205, 210, 107);
  --black-moved-square: rgb(170, 163, 59);
  --white-selected-square: rgb(233, 177, 126);
  --black-selected-square: rgb(191, 121, 69);

}

.container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.captures {
height: 100px;
width: 400px;
border: 2px solid black;
margin-top: 20px;
margin-bottom: 20px;
display: flex;
flex-wrap: wrap;
}

#chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 416px;
  border: 8px solid #331800;
  border-radius: 4px;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.capturedPieceSquare {
height: 40px;
width: 40px;
display: flex;
justify-content: center;
align-items: center;
background-size: cover;
}

.even {
background-color: var(--white-square);
}

.odd {
background-color: var(--black-square);
}

.square.white-available {
position: relative;
}

.square.white-available::after {
content: '';
position: absolute;
display: block;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 15px;
height: 15px;
border-radius: 50%;
background-color: var(--white-capture-or-available);
z-index: 1;
}

.square.black-available {
position: relative;
}

.square.black-available::after {
content: '';
position: absolute;
display: block;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 15px;
height: 15px;
border-radius: 50%;
background-color: var(--black-capture-or-available);
z-index: 1;
}

.pawn-select {
content:'';
position: relative;
display: block;
width: auto;
height: 200px;
background-color: white;
right: 2.2%;
box-shadow: rgba(0,0,0,0.8) 0px 5px 15px;
top: 155%
}

.select-piece {
height: 50px;
width: 50px;
background-size: cover;
}

.select-piece:hover {
background-color: var(--white-moved-square);
cursor: pointer;
}

.selected-black {
background-color: var(--black-selected-square);
}

.selected-white {
background-color: var(--white-selected-square);
}

.black-to {
background-color: var(--black-moved-square);
}

.white-to {
background-color: var(--white-moved-square);
}

.capture-black {
box-shadow: inset 0 0 15px 2px var(--black-capture-or-available);
}
.capture-white {
box-shadow: inset 0 0 15px 2px var(--white-capture-or-available);
}